.container-about {
    max-width: 800px;
    margin: 0 auto;
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container-about p {
    font-size: 1.2em;
    line-height: 1.6;
}
.profile-image-about {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}